section.pricing {
  background: #007bff;
  background: linear-gradient(to right, #eb3349, #f45c43);
  margin: 10px;
}

.pricing .card {
  border: none;
  border-radius: 1rem;

  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(218, 201, 201, 0.651);
}

.pricing hr {
  margin: 1.5rem 0;
}

.pricing .card-title {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
}

.pricing .card-price {
  font-size: 3rem;
  margin: 0;
}

.pricing .card-price .period {
  font-size: 0.8rem;
}

#main {
  height: 50px;
}

.pricing .text-muted {
  opacity: 0.7;
}
i {
  font-size: 40px;
}

b {
  font-weight: 450;
  font-size: large;
}

.pricing .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  background: linear-gradient(to right, rgb(170, 42, 96), rgb(245, 49, 88));
  outline: auto;
  padding: 1rem;
  opacity: 0.7;
  transition: all 0.2s;
  margin-top: 1cm;
}

/* Hover Effects on Card */

@media (min-width: 992px) {
  .pricing .card:hover {
    margin-top: -0.25rem;
    margin-bottom: 0.25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }

  .pricing .card:hover .btn {
    opacity: 1;
  }
}
